* {
    font-weight: 100;
}

:root {
    --primary-color: #b31e8b;
    --secondary-color: #41095f;
}


html {
    background-color: #eee;
    color: white;
    overflow: hidden;
}

body {
    margin: 0;
    color: #000;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    padding-bottom: 300px;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-bold {
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
}

.gap {
    gap: 8px;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.underline {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;

    & thead {
        position: sticky;
        top: 0;
        background-color: #3f1055;
        color: #fff;
        z-index: 10;
      
        & tr th {
          padding: 8px 16px;
      
          cursor: pointer;
      
          &:hover {
            text-decoration: underline;
          }
        }
    }

    & tbody tr {
        cursor: pointer;
        transition: all .1s ease;
        border-bottom: 1px solid #aaa;
        
        &:hover {
          background-color: #ccc;
        }
      
        & td {
          padding: 8px 16px;
          height: 30px;
          position: relative;
      
          &.price::before {
            content: '$';
            position: absolute;
            left: 10px;
          }
        }
      }
}
